<div class="novoVeiculo">
    <div class="title">
        <h3>Registrar saída</h3>
    </div>
    <form class="form" *ngIf="vehicleExitForm" [formGroup]="vehicleExitForm" (ngSubmit)="onSubmit(vehicleExitForm)">

        <div class="mb-3">
            <label class="form-label">Modelo:</label>
            <input placeholder="{{res.model}}" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Placa:</label>
            <input placeholder="{{res.numberPlate}}" readonly class="form-control" >
        </div>
        <div class="mb-3">
            <label class="form-label">Data de entrada:</label>
            <input placeholder="{{res.entryDate}}" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Data de saída:</label>
            <input placeholder="{{res.departureDate}}" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Tempo Estacionado:</label>
            <input placeholder="{{res.parkedTime}}h" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Preço:</label>
            <input placeholder="{{res.amount.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}" readonly class="form-control">
        </div> 
        <div class="mb-3 btnSubmit">
            <a type="text" routerLink="/vehicles" class="btn btn-secondary mx-2">Voltar</a>
            <button type="submit" class="btn btn-success" >Registrar Saída</button>
        </div>

    </form>
</div>