<div class="novoVeiculo">
    <div class="title">
        <h3>Registrar saída</h3>
    </div>
    <form class="form" [formGroup]="vehicleExitForm" (ngSubmit)="onSubmit(vehicleExitForm)">

        <div class="mb-3">
            <label class="form-label">Modelo:</label>
            <input formControlName="model" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Placa:</label>
            <input formControlName="numberPlate" readonly class="form-control" >
        </div>
        <div class="mb-3">
            <label class="form-label">Data de entrada:</label>
            <input formControlName="entryDate" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Data de saída:</label>
            <input formControlName="departureDate" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Tempo Estacionado:</label>
            <input formControlName="parkedTime" readonly class="form-control">
        </div> 
        <div class="mb-3">
            <label class="form-label">Preço:</label>
            <input formControlName="amount" readonly class="form-control">
        </div> 
        <div class="mb-3 btnSubmit">
            <a type="text" routerLink="/vehicles" class="btn btn-secondary mx-2">Voltar</a>
            <button type="submit" class="btn btn-success" >Registrar Saída</button>
        </div>

    </form>
</div>