<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Veiculo</th>
      <th scope="col">Placa</th>
      <th scope="col">Data de Entrada</th>
      <th scope="col">Data de Saída</th>
      <th scope="col">Horas estacionado</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ford Focus</td>
      <td>FOR-1234</td>
      <td>28/01/2022 10:55</td>
      <td>28/01/2022 11:55</td>
      <td>4 Horas</td>
      <td>R$ 6,00</td>
    </tr>
  </tbody>
</table>