<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Veiculo</th>
      <th scope="col">Placa</th>
      <th scope="col">Data de Entrada</th>
      <th scope="col">Data de Saída</th>
      <th scope="col">Horas estacionado</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <th scope="row"></th>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.numberPlate }}</td>
      <td>{{ vehicle.entryDate }}</td>
      <td>{{ vehicle.departureDate }}</td>
      <td>{{ vehicle.parkedTime }}h</td>
      <td>{{ vehicle.amount | currency: 'BRL' }}</td>
    </tr>
  </tbody>
</table>